.add-users {
    display    : flex;
    align-items: center;
}

.execl {
    margin-right: 90px;
}

.execl-1 {
    margin-right: 160px;
    margin-left : -85px;
}

.modal-backdrop {
    z-index: 1;
}

.modal-add-user {
    margin-top: 150px;
    z-index   : 2;

    .img-preview {
        border         : 1px dashed #ccc;
        color          : #ccc;
        display        : flex;
        justify-content: center;
        align-items    : center;
        height         : 150px;

        img {
            max-width : 100%;
            max-height: 100%;
        }
    }

    .label-upload {
        display      : flex;
        align-items  : center;
        width        : fit-content;
        padding      : 3px 10px;
        border-radius: 5px;
        background   : #eeeeee;
        cursor       : pointer;
        gap          : 5px;

        &:hover {
            background: #a2a2a2;
        }
    }
}

.user-image {
    width : 250px !important;
    height: 140px !important;
}

.first {
    text-align: center !important;

    a {
        text-decoration: none;
        color          : black;

        &:hover {
            color: #d70018;
        }
    }
}

.crud_customer {
    width : 91px;
    height: 35px;
}

.CSV {
    margin-right: 807px;
}