.first {
    text-align: center !important;

    a {
        text-decoration: none;
        color          : black;

        &:hover {
            color: #d70018;
        }
    }
}

.height {
    height: 35px;
}

.ok {
    margin-top: -70px !important;
}